@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oswald:wght@300&display=swap');

body {
  width: 100%;
  height: 100%;
  background-color: rgb(208, 225, 232);
  padding-left: 3ch;
  padding-right: 3ch;
  padding-top: 1.5ch;
  /* Other styles */
}

    
.logo {width: 50px;
    height: auto;}
nav {font-size: 2em;}
header {
    background-color: #f08348;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;}
nav a{text-align: center;
    color: white;
    text-decoration: none;
    padding: 4em;}
nav :hover {color: #684C70;}

.intro-box {padding-top: 1ch;
    font: bold;
    width: 30%;}
h1 {font-family: Kaushan Script;
    background-color: #3b7657;
    color: white;}
h2 {font-family: Oswald;
    line-height: 1.7;
    font-weight: 50;
    word-spacing: 1mm;}
.about-img {float: right;
    padding-top: 3ch;
    padding-right: 10ch;
    border-radius: 20%;}

footer {
    background-color: #f08348;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    padding-left: 3ch;
    font:bold;}

footer p {font-size: 1.5em;
    padding-right: 18%;}
footer p:hover {color: #684C70;
    text-decoration: underline;} 
a {text-decoration: none;}


#navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;}


  img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.content-box {padding-top: 1ch;
    font: bold;
    width: 30%;
    background-color: #684C70;
    color: #CCDDE2;}

.blog-box {padding-top: 1ch;
    font: bold;
    width: 30%;
    background-color: #3b7657;
    color: #CCDDE2;}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    body {
      padding: 0.5em; 
    }
  
    header {
      flex-direction: column; 
      padding: 10px;
    }
  
    nav {
      font-size: 1.5em; 
    }
  
    .about-img {
      float: right; 
      width: 20%; 
      padding: 1em; 
    }
  }
  
  
  
